In [1]:
import psycopg2

In [2]:
db = psycopg2.connect(host = 'localhost', dbname = 'test', user = 'mato', port = 5432)
cursor = db.cursor()

In [3]:
def postgre_exe(query):
    cursor.execute(query)
    cursor.execute("COMMIT")

In [19]:
query = """CREATE TYPE week AS ENUM ('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun')"""
cursor.execute(query)

In [20]:
query = """CREATE TABLE TRANSACTION (TRANS_ID serial PRIMARY KEY NOT NULL, TRANS_DATE DATE NOT NULL, TRANS_TIME TIME NOT NULL, DAY week NOT NULL,
    TYPE INTEGER NOT NULL, CATEGORY INTEGER NOT NULL, AMOUNTS INTEGER NOT NULL, MEMO VARCHAR(25), PLACE VARCHAR(25),
    PAYMENTS INTEGER NOT NULL, USER_ID INTEGER NOT NULL);"""

cursor.execute(query)

In [21]:
cursor.execute("COMMIT")

In [22]:
query = """CREATE TABLE TYPE (TYPE_ID INTEGER PRIMARY KEY NOT NULL, TYPE_NAME VARCHAR(20) NOT NULL)"""
cursor.execute(query)
cursor.execute("COMMIT")

In [24]:
query = """INSERT INTO TYPE VALUES (1, '수입'), (2, '소비')"""
postgre_exe(query)

In [25]:
query = """CREATE TABLE CATEGORY (CATEGORY_ID INTEGER PRIMARY KEY NOT NULL, CATEGORY_NAME VARCHAR(20) NOT NULL)"""
postgre_exe(query)

In [26]:
query = """INSERT INTO CATEGORY VALUES
            (1, '식비'), (2, '카페•간식'), (3, '편의점•마트'), (4, '술•유흥'), (5, '쇼핑'), (6, '취미•여가'), (7, '의료•건강'),
            (8, '주거•통신'), (9, '보험•세금•기타금융'), (10, '미용'), (11, '교통•자동차'), (12, '여행•숙박'), (13, '교육'),
            (14, '생활'), (15, '기부•후원'), (16, '경조사비'), (17, '선물'), (18, '기타'), (19, 'ATM출금'),
            (20, '이체'), (21, '급여'), (22, '카드대급'), (23, '저축•투자'), (24, '후불결제대금')"""
postgre_exe(query)

In [29]:
query = """CREATE TABLE PAYMENTS 
            (PAYMENTS_ID serial PRIMARY KEY NOT NULL, PAYMENTS_TYPE VARCHAR(25) NOT NULL, PAYMENTS_NAME VARCHAR(25),
            PAYMENTS_MAIN BOOLEAN DEFAULT false, ACCOUNTS_ID INTEGER, REMARKS VARCHAR(25))"""
postgre_exe(query)

In [34]:
query = """DROP TABLE ACCOUNTS"""
postgre_exe(query)

In [35]:
query = """CREATE TABLE ACCOUNTS
            (ACCOUNTS_ID serial PRIMARY KEY NOT NULL, ACCOUNTS_BANK VARCHAR(25) NOT NULL, ACCOUNTS_NO VARCHAR(25) NOT NULL,
            ACCOUNTS_NAME VARCHAR(25) NOT NULL, ACCOUNTS_BALANCE INTEGER DEFAULT 0, ACCOUNTS_MAIN BOOLEAN DEFAULT FALSE)"""
postgre_exe(query)

In [37]:
query = """INSERT INTO ACCOUNTS (ACCOUNTS_BANK, ACCOUNTS_NO, ACCOUNTS_NAME, ACCOUNTS_MAIN) VALUES
            ('신한은행', '110-321-894780', '주거래/급여통장', true), ('토스뱅크', '1000-1287-1132', '보조통장', false)"""
postgre_exe(query)

In [40]:
query = """INSERT INTO ACCOUNTS (ACCOUNTS_BANK, ACCOUNTS_NO, ACCOUNTS_NAME, ACCOUNTS_MAIN) VALUES
            ('신한은행', '110-324-216766', '생활비/교통비통장', false)"""
postgre_exe(query)

In [44]:
query = """INSERT INTO PAYMENTS (PAYMENTS_TYPE, PAYMENTS_NAME, PAYMENTS_MAIN, ACCOUNTS_ID)
            VALUES ('체크카드', '신한헤이영', true, 1), ('체크카드', '토스', false, 2)"""
postgre_exe(query)

In [43]:
query = """DELETE FROM PAYMENTS"""
postgre_exe(query)

In [8]:
query = """SELECT * FROM TYPE"""
cursor.execute(query)
type = cursor.fetchall()
print(row)

[(1, '수입'), (2, '소비')]

In [4]:
query = """SELECT * FROM CATEGORY"""

cursor.execute(query)
cate_tup = cursor.fetchall()
print(cate_tup)

[(1, '식비'), (2, '카페•간식'), (3, '편의점•마트'), (4, '술•유흥'), (5, '쇼핑'), (6, '취미•여가'), (7, '의료•건강'), (8, '주거•통신'), (9, '보험•세금•기타금융'), (10, '미용'), (11, '교통•자동차'), (12, '여행•숙박'), (13, '교육'), (14, '생활'), (15, '기부•후원'), (16, '경조사비'), (17, '선물'), (18, '기타'), (19, 'ATM출금'), (20, '이체'), (21, '급여'), (22, '카드대급'), (23, '저축•투자'), (24, '후불결제대금')]

In [14]:
for i in cate_tup:
    print(i[1])

식비
카페•간식
편의점•마트
술•유흥
쇼핑
취미•여가
의료•건강
주거•통신
보험•세금•기타금융
미용
교통•자동차
여행•숙박
교육
생활
기부•후원
경조사비
선물
기타
ATM출금
이체
급여
카드대급
저축•투자
후불결제대금

In [16]:
print([i[1] for i in cate_tup])

['식비', '카페•간식', '편의점•마트', '술•유흥', '쇼핑', '취미•여가', '의료•건강', '주거•통신', '보험•세금•기타금융', '미용', '교통•자동차', '여행•숙박', '교육', '생활', '기부•후원', '경조사비', '선물', '기타', 'ATM출금', '이체', '급여', '카드대급', '저축•투자', '후불결제대금']

In [6]:
dict(cate_tup)

{1: '식비',
 2: '카페•간식',
 3: '편의점•마트',
 4: '술•유흥',
 5: '쇼핑',
 6: '취미•여가',
 7: '의료•건강',
 8: '주거•통신',
 9: '보험•세금•기타금융',
 10: '미용',
 11: '교통•자동차',
 12: '여행•숙박',
 13: '교육',
 14: '생활',
 15: '기부•후원',
 16: '경조사비',
 17: '선물',
 18: '기타',
 19: 'ATM출금',
 20: '이체',
 21: '급여',
 22: '카드대급',
 23: '저축•투자',
 24: '후불결제대금'}

In [11]:
dict(map(reversed, cate_tup)).get('식비')

1

In [20]:
query = """SELECT PAYMENTS_ID, PAYMENTS_TYPE, PAYMENTS_NAME, PAYMENTS_MAIN FROM PAYMENTS"""
query = """SELECT DISTINCT PAYMENTS_TYPE FROM PAYMENTS"""
cursor.execute(query)
cursor.fetchall()

[('체크카드',)]

In [18]:
cursor.execute("COMMIT")

In [21]:
query = """ALTER TABLE public."transaction" ALTER COLUMN payments DROP NOT NULL;"""
cursor.execute(query)

In [22]:
cursor.execute("""COMMIT""")